.productItem {
  position: relative;
  display: flex;
}

.productItem img {
  position: relative;
  height: auto;
}

.productItem img:last-of-type {
  position: absolute;
  display: flex;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.2s;
}

.productItemOverlay {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.2s;
  color: var(--mantine-color-body);
  font-style: italic;
  pointer-events: none;
}

@media (hover: hover) and (pointer: fine) {
  .productItem:hover img:last-of-type {
    z-index: 1;
    opacity: 1;
  }

  .productItem:hover .productItemOverlay {
    opacity: 1;
  }
}

@media (hover: none) {
  .productItem img:last-of-type {
    z-index: 1;
    /* opacity: 1; */
    animation: fade 5s linear infinite;
  }

  .productItem .productItemOverlay {
    /* opacity: 1; */
    animation: fade 5s linear infinite;
  }

  @keyframes fade {
    0% {
      opacity: 0;
    }
    45% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    95% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
}
