.aboutImage {
  position: sticky;
  top: var(--mantine-header-height);
  height: calc(100vh - var(--mantine-header-height));
  overflow: hidden;
  border-left: var(--mantine-border-width) solid var(--mantine-color-text);
  @mixin smaller-than $mantine-breakpoint-sm {
    height: auto;
    border-left: none;
  }
}

.aboutImage img {
  display: flex;
  height: 100%;
  object-fit: cover;
  object-position: 50% 30%;
}
